<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>오레요</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <style>
      * {
        font-family: "Noto Sans KR", sans-serif;
      }

      body {
        margin: 0;
      }

      div {
        box-sizing: content-box;
      }

      .nav-bar {
        text-align: right;
      }

      .card {
        border: 0;
        padding: 5px;
      }

      .card-img-top {
        border-radius: 0;
      }

      .card-body {
        padding: 16px 0 16px 0;
      }

      .cards-box {
        margin: 10px 4px 0 4px;
      }

      .cards-content {
        margin: 0;
      }

      .top-btn {
        margin-top: 10px;
      }

      .top-area {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .carousel-wrap {
        position: relative;
      }

      .carousel-img {
        position: absolute;
        top: 50%;
      }

      .carousel-inner,
      .carousel {
        height: 300px;
      }

      .navbar {
        padding: 0 10px;
      }

      @media (max-width: 800px) {
        .carousel {
          display: none;
        }
      }
    </style>

    <script>
      $(document).ready(function () {
        show_recipe();
      });

      function show_recipe() {
        $.ajax({
          type: "GET",
          url: "/recipe",
          data: {},
          success: function (response) {
            let rows = response["recipes"];
            for (let i = 0; i < rows.length; i++) {
              let title = rows[i]["title"];
              let shortContent = rows[i]["shortContent"];
              let image = rows[i]["image"];

              let temp_html = `<div class="col cards-content" style="width: 20rem">
                                            <div class="card h-100">
                                                <img src="${image}"
                                                     class="card-img-top">
                                                <div class="card-body">
                                                    <h5 class="card-title">${title}</h5>
                                                    <p class="card-text">${shortContent}</p>
                                                    <a href="#" class="btn btn-outline-dark">상세보기</a>
                                                </div>

                                            </div>
                                        </div>`;
              $("#cards-box").append(temp_html);
            }
          },
        });
      }
    </script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">오늘 레시피 어때요</a>
          <div class="nav-bar">
            <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link" href="#">로그인</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">회원가입</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="false"
    >
      <div class="carousel-inner">
        <div class="carousel-item active carousel-wrap">
          <div class="carousel-img">
            <img
              src="https://images.unsplash.com/photo-1505714197102-6ae95091ed70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80"
              class="d-block w-100"
            />
          </div>
        </div>
        <div class="carousel-item carousel-wrap">
          <div ckass="carousel-img">
            <img
              src="https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80"
              class="d-block w-100"
            />
          </div>
        </div>
        <div class="carousel-item carousel-wrap">
          <div ckass="carousel-img">
            <img
              src="https://images.unsplash.com/photo-1504754524776-8f4f37790ca0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80"
              class="d-block w-100"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="top-area">
      <a href="#" class="btn btn-outline-dark top-btn">레시피 등록</a>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4 cards-box" id="cards-box">
      <div class="col cards-content" style="width: 20rem">
        <div class="card h-100">
          <img
            src="https://recipe1.ezmember.co.kr/cache/recipe/2018/05/24/62a09f43de2b64ec69629b8966f73f431.jpg"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">삼겹살 볶음밥</h5>
            <p class="card-text">냉장고 털이에 딱힌 볶음밥</p>
            <a href="#" class="btn btn-outline-dark">상세보기</a>
          </div>
        </div>
      </div>
      <div class="col cards-content" style="width: 20rem">
        <div class="card h-100">
          <img
            src="https://recipe1.ezmember.co.kr/cache/recipe/2018/05/24/62a09f43de2b64ec69629b8966f73f431.jpg"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">삼겹살 볶음밥</h5>
            <p class="card-text">냉장고 털이에 딱힌 볶음밥</p>
            <a href="#" class="btn btn-outline-dark">상세보기</a>
          </div>
        </div>
      </div>
      <div class="col cards-content" style="width: 20rem">
        <div class="card h-100">
          <img
            src="https://recipe1.ezmember.co.kr/cache/recipe/2018/05/24/62a09f43de2b64ec69629b8966f73f431.jpg"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">삼겹살 볶음밥</h5>
            <p class="card-text">냉장고 털이에 딱힌 볶음밥</p>
            <a href="#" class="btn btn-outline-dark">상세보기</a>
          </div>
        </div>
      </div>
      <div class="col cards-content" style="width: 20rem">
        <div class="card h-100">
          <img
            src="https://recipe1.ezmember.co.kr/cache/recipe/2018/05/24/62a09f43de2b64ec69629b8966f73f431.jpg"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">삼겹살 볶음밥</h5>
            <p class="card-text">냉장고 털이에 딱힌 볶음밥</p>
            <a href="#" class="btn btn-outline-dark">상세보기</a>
          </div>
        </div>
      </div>
      <div class="col cards-content" style="width: 20rem">
        <div class="card h-100">
          <img
            src="https://recipe1.ezmember.co.kr/cache/recipe/2018/05/24/62a09f43de2b64ec69629b8966f73f431.jpg"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">삼겹살 볶음밥</h5>
            <p class="card-text">냉장고 털이에 딱힌 볶음밥</p>
            <a href="#" class="btn btn-outline-dark">상세보기</a>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="#">Github</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
